[Desktop Entry]
Name=Mind Map Architect
Comment=Mind maps editor
Comment[cs]=Editor myšlenkových map
Exec=mmarchitect %f
Icon=mmarchitect
Terminal=false
Type=Application
MimeType=application/x-mmarchitect;application/x-freemind;
Categories=Office;GNOME;GTK;
StartupNotify=true
