[Desktop Entry]
Version=0.1
Name=Mind Map Architect
GenericName=
Comment=Working with mind maps
Exec=mmarchitect %U
Icon=mmarchitect
Terminal=false
Type=Application
MimeType=application/x-mmarchitect;
Categories=Office;GNOME;GTK;
X-GIO-NoFuse=true
