Source: mmarchitect
Section: gnome
Priority: extra
Maintainer: Ondrej Tuma <mcbig@zeropage.cz>
Build-Depends: debhelper (>= 7.0.50~),
               valac (>= 0.12.1) | valac-0.12 (>= 0.12.1),
               libgtk2.0-dev (>= 2.18.0),
               libxml2 (>= 2.6.32)
Standards-Version: 3.8.4
Homepage: https://sourceforge.net/p/mmarchitect/

Package: mmarchitect
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Software for working with mind maps
 <insert long description, indented with spaces>
