Source: mmarchitect
Section: gnome
Priority: extra
Maintainer: Ondrej Tuma <mcbig@zeropage.cz>
Build-Depends: debhelper (>= 7.0.50~),
               valac (>= 0.12.1) | valac-0.12 (>= 0.12.1), gcc (<= 4.3) | gcc (>= 4.5),
               libgtk2.0-dev (>= 2.18.0),
               libxml2-dev (>= 2.6.32)
Standards-Version: 3.8.4
Homepage: https://sourceforge.net/p/mmarchitect/
Vcs-Svn: svn://svn.code.sf.net/p/mmarchitect/code/trunk mmarchitect-code

Package: mmarchitect
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mind Map Architect
 Mind map architect program is good tool for brainstorming for single
 person just as for team. Mind mapping tools can be usable for todo
 lists, notes, or work planning. Some Mind Map Architect futures 
  * colors for each ideas and it's branches
  * auto width of lines for branches
  * plain text notes for each ideas
  * editor styling (fonts, colors, rising)
